<div class="icongroup">
  
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/add_alert_black_24dp.svg">
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/person_add_alt_black_24dp.svg">
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/palette_black_24dp.svg">
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/image_black_24dp.svg">
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/archive_black_24dp.svg">
    <img class="image" style="margin-right: 10px;
    height: 20px;" src="../../../assets/icons/more_vert_black_24dp.svg">


  </div>