<div class="icongroup">
  
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/add_alert_black_24dp.svg"  *ngIf="!isDeleted">
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/person_add_alt_black_24dp.svg"  *ngIf="!isDeleted">
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/palette_black_24dp.svg" [matMenuTriggerFor]="aboveMenu"  *ngIf="!isDeleted">
    <mat-menu #aboveMenu="matMenu" yPosition="below">
    <div class="pop" style="display: flex; flex-flow: row wrap; width: 150px;">
      <div *ngFor='let color of colorarray'>
        <button style="background-color: transparent;border: none;" (click)="setColor(color)">
          <mat-icon c [ngStyle]="{color:color}">circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-menu>
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/image_black_24dp.svg"  *ngIf="!isDeleted">
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/archive_black_24dp.svg" *ngIf="!isArchived && !isDeleted" (click)="onArchive()">
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/unarchive_black_24dp.svg"  *ngIf="isArchived && !isDeleted" (click)="onArchive()">
  <img class="image" style="margin-right: 10px;
  height: 20px;" src="../../../assets/icons/more_vert_black_24dp.svg" [matMenuTriggerFor]="more" *ngIf="!isDeleted">
   <mat-menu #more="matMenu">
    <button mat-menu-item (click)="onDelete()">Delete-note</button>
   </mat-menu>
   <button mat-icon-button (click)='onDeleteForever()'  *ngIf="isDeleted" matTooltip="Delete forever"
   matTooltipClass="tooltip"name="">
   <img class="image" src="./../../../assets/icons/delete_forever_black_24dp.svg" alt="delete_forvr">
		</button>
    <button mat-icon-button (click)="Gettrash()" *ngIf="isDeleted" matTooltip="Delete forever"
    matTooltipClass="tooltip">
    <img class="image" src="./../../../assets/icons//restore_from_trash_black_24dp.svg" alt="Restore"> 
  </button>
</div>