.matcard_wrraper{
    width: 600px;
    /* margin-bottom: -22px; */
    margin-left: 426px;
    margin-top: 83px;
}
.matcard_wrraper-lt-md{
    width: 300px;
    /* margin-bottom: -22px; */
    margin-left: 150px;
    margin-top: 20px;
}
.search_image{
padding: 5px;
margin-right: 10px;
}
.close-button{
 text-align: end;
}
input{
background-color: transparent;
border: none;
outline-style: none;
line-height: 30px;

}
.takenotefield{
display: flex;
justify-content: space-between;
}
.title-pin{
 width: fit-content;
 display: flex;justify-content: space-between;

 
}
.takenote-icons{
 margin-top: 20px;
}