<mat-card #takenote ngClass="matcard_wrraper" ngClass.lt-lg="matcard_wrraper-lt-lg">
  
  <div  class="title-pin" *ngIf="notelist">
    <mat-card-title><input required matInput placeholder="title" [(ngModel)]="title"></mat-card-title>
    
  </div>

  <div  (click)="noteClick()" class="takenotefield">
    <input required matInput placeholder="Create a note" [(ngModel)]="description">
    <div class="formhead" *ngIf="!notelist">
      <img class="search_image" src="../../../assets/icons/check_box_black_24dp.svg">
      <img class="search_image" src="../../../assets/icons/brush_black_24dp.svg">
      <img class="search_image" src="../../../assets/icons/image_black_24dp.svg">
    </div>
   
  </div>
  
  <div *ngIf="notelist">
    <div class="takenote-icons"fxLayout="row" fxLayoutAlign="space-between">
      <app-icons></app-icons>
      <button class="close-button" mat-button (click)="Close()">close</button>
    </div>
  </div>

</mat-card>
