<div class="container">
  <div class="headings">
    <br>
    <span style="color:rgb(66, 133, 244)">F</span>
    <span style="color:rgb(219, 68, 55); ">u</span>
    <span style="color:rgb(244, 160, 0); ">n</span>
    <span style="color:rgb(15, 157, 88); ">d</span>
    <span style="color:rgb(219, 68, 55); ">o</span>
    <span style="color:rgb(244, 160, 0); ">o</span>
    <span style="color:rgb(255, 123, 0); ">N</span>
    <span style="color:rgb(8, 193, 250); ">o</span>
    <span style="color:rgb(219, 68, 55); ">t</span>
    <span style="color:rgb(15, 157, 88); ">e</span>
    <span style="color:rgb(66, 133, 244); ">S</span>
    
    <br>
    <h2>Create Your Fundoo Account</h2>
  </div>
  <div class="subContainer">
    <div class="form-content">
          <!-- {form} -->
        <div class="user-name">
            <mat-form-field class="name" appearance="outline">
              <mat-label >First Name</mat-label>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field class="name" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
        <div class="email-container">
          <mat-form-field class="email" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter UserName">
          </mat-form-field>
          <div class="LXRPh"><div jsname="ty6ygf" class="ovnfwe Is7Fhb">You can use letters, numbers &amp; periods&nbsp;</div>
<div jsname="B34EJ" class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive">
</div>
</div>
        </div>
        <div id="use">
        <a mat-button href="https://www.google.com/" target="_blank">&nbsp;Use my current email address instead</a>
        </div>
        <div class="password-container">
          <mat-form-field class="password" appearance="outline">
            <mat-label >password</mat-label>
            <input matInput placeholder="password">
          </mat-form-field>
          <mat-form-field class="password" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password">
          </mat-form-field>
      </div>
      <span>Use 8 or more characters with a mix of letters, numbers &amp; symbols</span>
      <mat-checkbox class="example-margin">  Show password</mat-checkbox>
      <div class="btn">
        <a mat-button href="https://www.google.com/" target="_blank">sign in instead</a>
        <button mat-raised-button >Next</button>
      </div>
    </div>
       <!-- {image} -->
       <div class="register-image">
        <img src="../../../assets/account.svg" alt="">
        <div class="figcaption">
          <h4>One account. All of Google</h4>
          </div>
          <div class="figcaption2">
            <h4>Working for you.</h4>
          </div>       
  
  </div>
</div>