.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile.example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
 
  
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: #ffffff;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.example-toolbar{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  background-color: #ffffff;
}
.menu-icon{
  color: #000;
}
.keep-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
 
  
}

.search-box{
  
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  background-color: #f1f3f4;
  border-radius: 10px;
  margin-left: 100px;
  
  padding: 10px;
 
  input{
    background-color: transparent;
    border: none;
    outline-style: none;
  }
}
.right-icons{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-left: 100px;
  :hover{
    background-color: #f1f3f4;
    border-radius: 50%;
  }
  img{
    margin-right: 10px;
    padding: 10px;
  }
  
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  :hover{
    background-color: #f1f3f4;
    border-radius: 50%;
  }
  img{
    margin-right: 10px;
    padding: 10px;
    height: 20px;
  }
  
}
.nav-list{
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  
  a{
    border-radius: 15%;
  }
  a:focus{
    background-color: #feefc3;
  }
  img{
    margin-right: 30px;
  }
  .notediv{
    width: 100%;
    height: 20%;
  
  }
  #remhover:focus{
    background-color: #fec3c3;

  }
}
.content-container{
  height: 100%;
  width: 100%;
}
.example-toolbar-lt-lg{
  display: flex;
  border-bottom: 1px solid lightgray;
  background-color: #fff;
}
.listmenuIcon-lt-md{
  display: none;
}
.search-box-gt-md{
    
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  background-color: #f1f3f4;
  border-radius: 10px;
  margin-left: 100px;
  
  padding: 10px;
 
  input{
    background-color: transparent;
    border: none;
    outline-style: none;
  }
}
.search-box-lt-lg{
  display: flex;
  margin-left: 3px;
  align-items: center;
  input{

    display: none;
  }
}
.list{
  margin-left:auto;
}