<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" ngClass.lt-lg="example-toolbar-lt-lg">
    <div class="keep-icon">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <img src="../../../assets/icons/head.png" />
      <h1 class="example-app-name">FundooNotes</h1>
    </div>

    <div ngClass.gt-md="search-box-gt-md" ngClass.lt-lg="search-box-lt-lg">
      <img src="../../../assets/icons/search_black_24dp.svg" />
      <input matInput placeholder="search"  [(ngModel)]="Search" autocomplete="off"(keyup)="searchnote($event)"/>
    </div>

    <div class="right-icons">
      <img src="../../../assets/icons/refresh_black_24dp.svg" />
      <img src="../../../assets/icons/dns_black_24dp (1).svg" *ngIf="!Grid" (click)="gridview();changeview()"/>
      <!-- <button class="listcol "mat-icon-button  *ngIf="list" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
        <mat-icon class="icon">dns</mat-icon>
      </button>
      <button class="listcol" mat-icon-button  *ngIf="grid" (click)="changeView()" fxShow="true" fxHide.lt-sm="true">
        <mat-icon class="icon">view_module</mat-icon>
      </button> -->
      <img  ngClass.lt-md="listmenu-lt-md "src="../../../assets/icons/grid_view_black_24dp.svg" *ngIf="Grid" (click)="listview();changeview()"/>
      <img src="../../../assets/icons/settings_black_24dp.svg" />
    </div>
    <div class="menu">
      <img src="../../../assets/icons/apps_black_24dp.svg" />
      <img class="avatar" (click)="onsignout()" src="../../../assets/icons/img_avatar.png"style="width:25px" />
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="getallnotes"
          ><img src="../../../assets/icons/lightbulb_black_24dp.svg" />notes</a
        >
        <a id="remhover" mat-list-item routerLink="."
          ><img src="../../../assets/icons/notifications_black_24dp.svg" />reminders</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/icons/edit_black_24dp.svg" />Edit labels</a
        >
        <a mat-list-item routerLink="archieve"
          ><img src="../../../assets/icons/archive_black_24dp.svg" />archive</a
        >
        <a mat-list-item routerLink="trash"
          ><img src="../../../assets/icons/delete_black_24dp.svg" />trash</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <p><router-outlet></router-outlet></p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
