<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="keep-icon">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <img src="../../../assets/icons/head.png" />
      <h1 class="example-app-name">FundooNotes</h1>
    </div>

    <div class="search-box">
      <img src="../../../assets/icons/search_black_24dp.svg" />
      <input matInput placeholder="search" />
    </div>

    <div class="right-icons">
      <img src="../../../assets/icons/refresh_black_24dp.svg" />
      <img src="../../../assets/icons/grid_view_black_24dp.svg" />
      <img src="../../../assets/icons/settings_black_24dp.svg" />
    </div>
    <div class="menu">
      <img src="../../../assets/icons/apps_black_24dp.svg" />
      <img src="../../../assets/icons/account_circle_black_24dp.svg" />
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="getallnotes"
          ><img src="../../../assets/icons/lightbulb_black_24dp.svg" />notes</a
        >
        <a id="remhover" mat-list-item routerLink="."
          ><img src="../../../assets/icons/notifications_black_24dp.svg" />reminders</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/icons/edit_black_24dp.svg" />Edit labels</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/icons/archive_black_24dp.svg" />archive</a
        >
        <a mat-list-item routerLink="."
          ><img src="../../../assets/icons/delete_black_24dp.svg" />trash</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <p><router-outlet></router-outlet></p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
