<div ngClass.lt-md="container-lt-sm" ngClass.lt-xl="container-lt-xl" ngClass.lt-md="container-lt-md" fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl="center center" fxLayoutAlign.lt-md="center center">
    <div class="Header"  fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl=" center">
        <h1>
            <span style="color:rgb(66, 133, 244)">F</span>
            <span style="color:rgb(219, 68, 55); ">u</span>
            <span style="color:rgb(244, 160, 0); ">n</span>
            <span style="color:rgb(15, 157, 88); ">d</span>
            <span style="color:rgb(219, 68, 55); ">o</span>
            <span style="color:rgb(244, 160, 0); ">o</span>
            <span style="color:rgb(255, 123, 0); ">N</span>
            <span style="color:rgb(8, 193, 250); ">o</span>
            <span style="color:rgb(219, 68, 55); ">t</span>
            <span style="color:rgb(15, 157, 88); ">e</span>
            <span style="color:rgb(66, 133, 244); ">S</span>
            </h1>
            
        <h2>Find your email</h2>
        <p >Enter your phone number or recovery Email</p>
    </div>
    <div class="Email-content">
        <mat-form-field class="email" appearance="outline">
        <mat-label>Enter Your Email</mat-label>
        <input matInput placeholder="Enter Email">
        </mat-form-field> 
    </div>
    <div ngClass.lt-sm="btn-container-lt-sm"  ngClass.lt-xl="btn-container" fxFlexAlign.lt-xl="end">
        <button ngClass.gt-xs="btn" mat-raised-button >Next</button>
    </div>

</div>
