<div ngClass.lt-md="container-lt-sm" ngClass.lt-xl="container-lt-xl" ngClass.lt-md="container-lt-md" fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl="center center" fxLayoutAlign.lt-md="center center">

    <div class="Header"  fxLayout.lt-xl="column"  fxLayoutAlign.lt-xl=" center">
        <h1>
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="o">o</span>
            <span class="N">N</span>
            <span class="ol">o</span>
            <span class="t">t</span>
            <span class="e">e</span>
            <span class="s">s</span>
        </h1>
        <p>Find your email?</p>
        <p class="desc">Enter your email to recover password</p>
    </div>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="Email-content">
        <mat-form-field class="email" appearance="outline">
        <mat-label>Enter Your Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-error>enter registered email</mat-error>
        </mat-form-field> 
    </div>
    <div ngClass.lt-sm="btn-container-lt-sm"  ngClass.lt-xl="btn-container" fxFlexAlign.lt-xl="end">
        <a mat-button routerLink="/reset-password" target="_blank">Forgot Password?</a><br>
        <button ngClass.gt-xs="btn" mat-raised-button >Next</button>
    </div>
    </form>

