.container-lt-xl{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    h1{
        font-size: x-large;
        font-weight:500;
        .f{
            color: rgb(0, 0, 255);
        }
        .u{
            color: rgb(253, 116, 4);
        }
        .n{
            color: rgb(255, 0, 0);
        }
        .d{
            color: rgb(0, 202, 34);
        }
        .o{
            color: rgb(255, 115, 0);
        }
        .N{
            color:rgb(255, 123, 0);
        }
        .ol{
            color:rgb(8, 193, 250);
        }
        .t{
            color:rgb(219, 68, 55);

        }
        .e{
            color:rgb(15, 157, 88);
        }
        .s{
            color:rgb(66, 133, 244);
        }
    }
    .btn-container{
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Email-content{
        .email{
            width: 405px;
        }
       
    }
}
.container-lt-md{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    height: 80%;
    width: 80%;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
    .btn-container{
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Email-content{
        .email{
            width: 250px;
        }
    }
}
.container-lt-sm{
    border: 1px solid rgba(240, 209, 209, 0.692);
    border-radius: 10px;
    height: 80%;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    .btn-container-lt-sm{
        text-align: end;
        .btn{
            background-color: rgb(77, 77, 253);
            color: #fff
        }
    }
    .Email-content{
        .email{
            width: 10px;
        }
    }
}