<div class="Container">
    <div class="Header">
        <div class="headings">
            <span style="color:rgb(66, 133, 244)">F</span>
            <span style="color:rgb(219, 68, 55); ">u</span>
            <span style="color:rgb(244, 160, 0); ">n</span>
            <span style="color:rgb(15, 157, 88); ">d</span>
            <span style="color:rgb(219, 68, 55); ">o</span>
            <span style="color:rgb(244, 160, 0); ">o</span>
            <span style="color:rgb(255, 123, 0); ">N</span>
            <span style="color:rgb(8, 193, 250); ">o</span>
            <span style="color:rgb(219, 68, 55); ">t</span>
            <span style="color:rgb(15, 157, 88); ">e</span>
            <span style="color:rgb(66, 133, 244); ">s</span>
        <br>
        <br>
        </div>
         <p>Sign In</p>
         <p class="desc">Use Your Fundoo Account</p>
     </div>
      <div class="login-content">
         <div class="Email-content">
             <mat-form-field class="email" appearance="outline">
             <mat-label>Email or Phone</mat-label>
             <input matInput placeholder="Email">
             </mat-form-field> 
         </div>
         <div class="Password-content">
                 <mat-form-field class="password" appearance="outline">
                 <mat-label>Password</mat-label>
                 <input matInput placeholder="password">
                 </mat-form-field><br>
                 <a href="#" target="_blank">Forgot password?</a>       
         </div>
     </div>
     <div class="btn">
         <a mat-button href="https://www.google.com/" target="_blank">create account</a>
         <button mat-raised-button >Next</button>
     </div>
 </div>
 