<div class="Container"ngClass.lt-md="container-lt-md" fxLayout="column"  fxLayoutAlign="center center">
    <div class="Header"fxLayout="column"  fxLayoutAlign="center center">
        <div class="headings">
            <h2>
            <span style="color:rgb(66, 133, 244)">F</span>
            <span style="color:rgb(219, 68, 55); ">u</span>
            <span style="color:rgb(244, 160, 0); ">n</span>
            <span style="color:rgb(15, 157, 88); ">d</span>
            <span style="color:rgb(219, 68, 55); ">o</span>
            <span style="color:rgb(244, 160, 0); ">o</span>
            <span style="color:rgb(255, 123, 0); ">N</span>
            <span style="color:rgb(8, 193, 250); ">o</span>
            <span style="color:rgb(219, 68, 55); ">t</span>
            <span style="color:rgb(15, 157, 88); ">e</span>
            <span style="color:rgb(66, 133, 244); ">s</span>
            </h2>
        </div>
         <p>Sign In</p>
         <p class="desc">Use Your Fundoo Account</p>
     </div>
     <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="login-content"fxLayout="column"  fxLayoutAlign="center center">
         <div class="Email-content">
             <mat-form-field class="email" appearance="outline">
             <mat-label>Email or Phone</mat-label>
             <input matInput placeholder="Email" formControlName="email">
             <mat-error>Enter Valid Phone or Mail</mat-error>
             </mat-form-field> 
         </div>
         <div class="Password-content" fxLayout="column"  fxLayoutAlign="space-between">
                 <mat-form-field class="password" appearance="outline">
                 <mat-label>Password</mat-label>
                 <input matInput placeholder="password"formControlName="password">
                 <mat-error>enter valid password</mat-error>
                 </mat-form-field><br>
                 <a routerLink="/forgotpassword" target="_blank">Forgot password?</a>       
         </div>
     </div>
     <div class="btn"fxLayout="row"  fxLayoutAlign="space-between center">
         <a mat-button  routerLink="/register" target="_blank">Create Account</a>
         <button mat-raised-button >Next</button>
     </div>
     </form>
 </div>
 