<div  *ngFor="let note of childMessage" class="takenote" fxLayout="column" [style.background]="note.color" [class.formatStyle]="format">
    <div fxLayout="row" fxLayoutAlign="space-between">
        <p (click)="openDialog(note)">{{note.title}}</p>
        <img class="icontop" src="../../../assets/icons/push_pin_black_24dp.svg">
    </div> 
   
    <p (click)="openDialog(note)">{{note.description}}</p>
  
    <div class="icons">
        <app-icons  [noteObject]="note" (iconstodisplay)="recievefromiconstodisplaycard($event)" (noteOperation)="operation($event)"></app-icons>
    </div>

</div>