.takenote{
    border: 1px solid green; 
    width: 280px;
    margin-left: 50px;
    border-color: #e0e0e0;
    margin-top: 44px;
    border-radius: 14px;
    padding: 10px;
    
   

}
.icons{
    opacity: 0;
}
.takenote:hover .icons{
    text-align: center;
    opacity: 1;
  }
.formatStyle{
    width: 600px;
    height:auto;
    margin-left: 450px;
      }

      ::ng-deep .my-custom-dialog-class {
        mat-dialog-container {
          padding: 0;
        }
      }