.container-lt-xl{
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 60%;
    width: 40%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}
.btn-container{

    text-align: end;
    .btn{
        background-color: rgb(77, 77, 253);
        color: #fff
    }
}
.Password-content{
    .password{
        width: 405px;
        height: 55px;
    }
}
.passDesc{
    font-size: 13px;
    
} 
.container-lt-md{
border: 1px solid rgba(240, 209, 209, 0.692);
border-radius: 10px;
height: 80%;
width: 80%;
margin-top: 50px;
margin-left: 10%;
margin-right: 10%;
padding: 5px;
.btn-container{
    margin-right: 50px;
    margin-top: 20px;
    .btn{
        background-color: rgb(77, 77, 253);
        color: #fff
    }
}
.Password-content{
    .password{
        width: 250px;
        height: 60px;
    }
}
.passDesc{
    font-size: 10px;
  
} 
}
.container-lt-sm{
border: 1px solid rgba(240, 209, 209, 0.692);
border-radius: 10px;
height: 80%;
width: 90%;
margin-top: 50px;
margin-left: 5%;
margin-right: 5%;
padding: 10px;
.btn-container-lt-sm{
    margin-right: 10px;
    margin-top: 20px;
    .btn{
        background-color: rgb(77, 77, 253);
        color: #fff
    }
}
h1{
    font-size: x-large;
    font-weight:500;
}
.Password-content{
    .password{
        width: 20px;
        height: 60px;
    }
}
.passDesc{
    font-size: 8px;

} 

}